a {
    font-weight: bolder;
    color: mediumpurple;
}

.register-page .form-container {
    padding-top: 3%;
}

.reg-form-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}