body {
    background-color: #120F0F;
    font-family: "Inter", sans-serif;
}

* {
    text-decoration: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p, a {
    color: white;
    font-size: 12px;
}

.account-page-header {
    display: flex;
    justify-content: flex-end;
}

.account-page-header img {
    width: 35px;
    height: 35px;
    margin: 2%;
}

.account-page-content {
    background: rgba(43, 43, 43, 0.5);
    box-shadow: 0 5px 10px 5px mediumpurple;
    padding: 2%;
    border-radius: 50px;
    width: 55%;
    margin: auto auto 5%;
}

.account-page-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 2% 2% 10% 2%;
    width: 100%;
}

.nickname-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nickname-container {
    margin-top: 3%;
    display: flex;
}

.nickname {
    text-transform: capitalize;
    font-size: 65px;
    font-weight: bolder;
}

.subscription-info {
    text-align: center;
    margin: 5%;
    max-width: 110px;
}

.subscription-info p {
    margin: 5px;
}

.subscribed {
    background: rgba(147, 112, 219, 0.75);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.not-subscribed {
    background: rgba(255, 0, 0, 0.75);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.user-image-container {
    display: flex;
}

.user-image {
    border: 3px solid mediumpurple;
    padding: 2%;
    border-radius: 50%;
    width: 260px;
}

.favorite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.account-page-content h3 {
    color: white;
    font-size: 20px;
    margin: 2%;
}

.home-page__latest-albums__cards {
    margin: 2%;
}

.home-page__discovery__cards {
    margin: 2%;
}

.cards-container {
    display: flex;
    align-items: center;
}


.arrow-button {
    background-color: rgba(43, 43, 43, 100);
    color: #aaaaff;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.arrow-button:hover {
    background-color: #555;
    transform: scale(1.1);
}

.card {
    transition: all 0.1ms ease;
}

.music-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1%;
    flex-direction: column;
}

.music-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-card-button {
    background: none;
    border: none;
    border-radius: 7px;
    width: 80%;
    display: flex;
    margin: 0.5%;
    padding: 8px 16px;
    transition: all 0.3s ease;
    justify-content: space-between;
    align-items: center;
}

.music-card-button span {
    color: white;
    align-self: flex-start;
}

.music-card-button:hover {
    border: 2px dimgray;
    transition: all 0.3s ease;
    background: mediumpurple;
    transform: scale(1.005);
}

.music-image-container {
    display: flex;
    width: 6%;
}

.music-image {
    width: 100%;
    border-radius: 10px;
}

.music-name-authors {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 0.9;
}

.music-duration {
    align-self: center;
    margin: 0 4px;
}

.music-more-button {
    background: none;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 18px;
}

.like-icon-container {
    display: flex;
}

.play-icon-container {
    display: flex;
    margin-right: 1%;
}

.artist-link:hover {
    cursor: pointer;
    color: #222222;
}

.show-all-music-button {
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s ease;
    border-radius: 500px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1%;
    background: none;
    color: white;
    border: solid 1px mediumpurple;
    align-self: flex-end;
    margin-top: 2%;
    margin-right: 15%;
    font-size: 12px;
}

.show-all-music-button:hover {
    transition: all 0.3s ease;
    background: mediumpurple;
    color: black;
    border-color: black;
    transform: scale(1.08);
}

.music-menu {
    position: absolute;
    z-index: 999;
    top: 100%;
    right: 0;
    background: #120F0F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1%;
    border-radius: 5px;
    animation: fadeIn 0.3s ease;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.music-menu button {
    display: block;
    width: 100%;
    padding: 3% 1%;
    background: none;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 2%;
}

.music-menu button:hover {
    transform: scale(1.1);
    background-color: mediumpurple;
}

@media only screen and (max-width: 767px) {
    p, a {
        color: white;
        font-size: 10px;
    }

    .account-page-header img {
        width: 20px;
        height: 20px;
        margin: 3%;
    }

    .account-page-content {
        width: 95%;
        box-shadow: none;
    }

    .user-info {
        margin: 2% 2% 10% 2%;
        width: 100%;
    }

    .nickname-container {
        margin-top: 5%;
    }

    .nickname {
        font-size: 40px;
    }

    .subscription-info p {
        margin: 5%;
        font-size: 10px;
    }

    .user-image {
        border: 3px solid mediumpurple;
        padding: 2%;
        border-radius: 50%;
        width: 130px;
    }

    .favorite-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .account-page-content h3 {
        font-size: 14px;
    }

    .home-page__latest-albums__cards {
        margin: 2%;
    }

    .home-page__discovery__cards {
        margin: 2%;
    }

    .cards-container {
        display: flex;
        align-items: center;
    }

    .arrow-button {
        width: 40px;
        height: 30px;
        font-size: 18px;
    }



    .music-container-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .music-card-button span {
        font-size: 13px;
    }
    
    .music-image-container {
        display: flex;
        width: 15%;
        margin: 4px;
    }

    .music-image {
        width: 30px;
        height: 30px;
    }

    .music-more-button {
        background: none;
        color: white;
        border: none;
        font-weight: 700;
        font-size: 18px;
    }

    .like-icon-container {
        display: flex;
        margin: 2px;
    }

    .show-all-music-button {
        padding: 2%;
        font-size: 12px;
    }

    .show-all-music-button:hover {
        transition: all 0.3s ease;
        background: mediumpurple;
        color: black;
        border-color: black;
        transform: scale(1.08);
    }

    .music-menu {
        position: absolute;
        z-index: 999;
        top: 100%;
        right: 0;
        background: #120F0F;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        padding: 1%;
        border-radius: 5px;
        animation: fadeIn 0.3s ease;
    }

    .home-page__playlist-normal__image-div {
        width: 50px;
        height: 50px;
    }

    .home-page__discovery-card__image-div {
        width: 50px;
        height: 50px;
    }

    .home-page__discovery-card__text__role > p {
        font-size: 12px;
    }

    .home-page__discovery-card__text__name > p {
        font-size: 12px;
    }

    .home-page__playlist-normal__text__title > p {
        font-size: 12px;
    }
    
    .home-page__discovery-card__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50px;
    }

    .home-page__playlist-normal__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50px;
    }

    .home-page__playlist-normal__text__description > p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .account-page-content {
        width: 85%;
    }

    .account-page-header img {
        margin: 3%;
    }

    .user-image {
        width: 200px;
    }

    .arrow-button {
        width: 50px;
        height: 40px;
        font-size: 20px;
        margin: 4px 2px;
    }

    .home-page__playlist-normal__image-div {
        width: 120px;
        height: 120px;
        margin-bottom: 13px;
    }

    .home-page__discovery-card__image-div {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
}
