.form-header-text-styles {
    font-size: 22px;
    font-family: "Inter", sans-serif;
    align-self: center;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

.purple-button-style {
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid mediumpurple;
    border-radius: 500px;
    font-weight: 700;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    background: mediumpurple;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.purple-button-style:hover {
    transition: all 0.3s ease;
    background: #5a4184;
    border-color: black;
}

.register-page .purple-button-style {
    margin-top: 15px;
    width: 75%;
}

.checkbox-container {
    display: flex;
    justify-content: center;
}

.switcher-label {
    display: flex;
    font-size: 12px;
    margin: 5px;
}

.is-author {
    display: flex;
    align-items: center;
}

.register-page .separator-line {
    flex: 0 0 auto;
    border: 1px solid gainsboro;
    box-sizing: border-box;
    align-self: center;
    width: 75%;
    height: 2px;
    margin-top: 22px;
}

.register-page .signup-section {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}