.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.search__header {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 15px 30px;
    background-color: #070707;
}

.search__header__field {
    width: 470px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 4px;
    box-sizing: border-box;
    margin-right: 20px;
}

.search__header__field__left {
    display: flex;
    justify-content: start;
    padding: 8px 3px;
    box-sizing: border-box;
}

.search__header__field__left > img {
    height: 38px;
    margin-right: 10px;
}

.search__header__field__left__input {
    color: #181818;
    border: none;
    outline: none;
    font-size: 18px;
}

.search__header__field__left__input::placeholder {
    color: #757575;
}

.search__header__field__right {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.search__header__field__right__submit {
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    background-color: #2c2c2c;
    transition: .2s;
}

.search__header__field__right__submit:hover {
    transform: scale(.97);
    transition: .2s;
}

.search__header__field__right__submit > p {
    font-size: 18px;
    color: #d7d7d7;
}

.search__header__types {
    display: flex;
    align-items: center;
}

.search__header__types :not(:last-child) {
    margin-right: 10px;
}

.search__header__types__type {
    height: 100%;
    min-width: 100px;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 25px;
    transition: .2s;
}

.search__header__types__type:hover {
    transform: scale(.97);
    transition: .2s;
}

.search__header__types__type > p {
    font-size: 18px;
    text-transform: capitalize;
}

.search__main {
    width: 80%;
    /*background-color: #281c3d;*/
    margin: 30px 0 100px 30px;
}

.search__main > div:not(:last-child) {
    margin-bottom: 30px;
}

.search-playlist {
    width: 80%;
    height: 200px;
    display: flex;
    padding: 10px 40px 10px 10px;
    /*border: 1px solid darkcyan;*/
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
}

.search-playlist__left {

}

.search-playlist__left > img {
    width: 180px;
    height: 180px;
    margin-right: 30px;
    border-radius: 10px;
}

.search-playlist__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.search-playlist__right > h2 {
    font-size: 40px;
}


.search-playlist__right__bottom {

}

.search-playlist__right__bottom__description {
    font-size: 16px;
    color: #FFFFFF70;
    margin-bottom: 10px;
}

.search-playlist__right__bottom__author {
    font-size: 16px;
    color: #FFFFFF70;
}

.search-playlist__right__bottom > p > span {
    font-size: 20px;
    color: #eaeaea;
}


/*Author Search Card*/
.search-author {
    width: 80%;
    height: 240px;
    display: flex;
    padding: 20px 40px 20px 20px;
    /*border: 1px solid darkcyan;*/
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
}

.search-author__left {

}

.search-author__left > img {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border-radius: 110px;
}

.search-author__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 20px 0;
}

.search-author__right > h2 {
    font-size: 40px;
}

.search-author__right > p {
    font-size: 16px;
    color: #FFFFFF70;
}

.search-author__right > p > span {
    font-size: 20px;
    color: #eaeaea;
}

