.navbar {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: end;
    padding: 10px 15px;
}

.navbar p {
    font-size: 16px;
}

.navbar__account {
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    background-color: #181414;
}

.navbar__account__main {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 28px;
    transition: .05s;
}

.navbar__account__main:hover {
    background-color: #2b2b2b;
    transition: .05s;
}

.navbar__account__main__image__div {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    cursor: pointer;
    transition: .05s;
}

.navbar__account__main__image__div:hover {
    transform: scale(1.05);
    transition: .05s;
}

.navbar__account__main__image {
    width: inherit;
    height: inherit;
    border-radius: 18px;
}

.navbar__account__main__name {
    font-family: 'proxima_nova_rgbold', sans-serif;
    text-transform: capitalize;
    margin-right: 20px;
}

.navbar__account__main__arrow__div {
    width: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: .03s;
}

.navbar__account__main__arrow__div:hover {
    transform: scale(1.2);
    transition: .03s;
}

.navbar__account__main__arrow {
    width: inherit;
    transition: .5s;
}

.navbar__account__wide {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 0 5px 5px 5px;
}

.navbar__account__wide > div:not(:last-child) {
    margin-bottom: 5px;
}

.navbar__account__wide__element {
    display: flex;
    align-items: center;
    border-radius: 28px;
    padding: 5px;
    cursor: pointer;
    transition: .05s;
}

.navbar__account__wide__element:hover {
    background-color: #2b2b2b;
    transition: .05s;
}

.navbar__account__wide__element__image__div {
    width: 36px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.navbar__account__wide__element__image {
    width: 30px;
}

.navbar__account__wide__element__text {
    font-family: 'proxima_nova_rgbold', sans-serif;
    cursor: pointer;
}