.reset-password-page {
    display: flex;
    justify-content: flex-start;
}

.reset-password-page-container {
    margin: 100px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.reset-password-page h2 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.confirm-button {
    width: 75%;
}

.svg-container1 {
    display: flex;
}

.password-input-container {
    height: auto;
}

.input-field-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.password-error > {
    font-size: 15px;
    color: red;
    margin: 20px;
}

.fade-in {
    align-self: flex-start;
    opacity: 1;
    transition: opacity 0.1s ease;
}

.fade-out {
    align-self: flex-start;
    opacity: 0;
    transition: opacity 0.1s ease;
}