body {
    background-color: #120F0F;
    height: 100%;
}
.signup-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.signup-prompt-text-style {
    flex: 0 0 auto;
    font-weight: 700;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    align-self: center;
    color: white;
    white-space: pre-wrap;
}

.auth-form-container1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    box-sizing: border-box;
    padding-top: 5%;
    width: 35%;
}

.signup-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.sign-up-button-style {
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s ease;
    flex: 0 0 auto;
    border: 1px solid white;
    border-radius: 500px;
    font-weight: 700;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    background: transparent;
    box-sizing: border-box;
    display: block;
    height: 48px;
    margin: 10px 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    width: 70%;
}

.sign-up-button-style:hover {
    transition: all 0.3s ease;
    background: mediumpurple;
    color: black;
    border-color: black;
}

@media only screen and (max-width: 767px) {
    .login-form-container {
        box-sizing: border-box;
        padding-top: 5%;
        width: 85%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .login-form-container {
        box-sizing: border-box;
        padding-top: 5%;
        width: 60%;
    }
}
