.signup-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    margin-top: 32px;
}
.signup-prompt-text-style {
    flex: 0 0 auto;
    font: var(--font-weight-700) var(--font-size-17) "Inter";
    align-self: center;
    color: var(--color-black);
    white-space: pre-wrap;
}
.sign-up-button-style {
    flex: 0 0 auto;
    border: 1px solid var(--color-grey-2a36df50);
    border-radius: var(--border-radius-500);
    font: var(--font-weight-700) var(--font-size-13) "Inter";
    background: var(--color-991c5d52);
    box-sizing: border-box;
    display: block;
    min-width: 450px;
    height: 48px;
    margin-top: 22px;
    color: var(--color-dimgrey-b54ff344);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.auth-form-container1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 1440px;
}
.login-form-container {
    box-sizing: border-box;
    width: 451px;
    padding-top: 40px;
    padding-bottom: 133px;
}
