/* These are Kombai generated variables */
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-black-b9fa: rgba(0, 0, 0, 0.2);
  --color-dodgerblue-24b168f6: rgba(24, 119, 242, 1);
  --color-grey-2a36df50: rgba(135, 135, 135, 1);
  --color-black-34deeef1: rgba(0, 0, 0, 0.9);
  --color-dimgrey-b54ff344: rgba(106, 106, 106, 1);
  --color-gainsboro-c702608: rgba(217, 218, 220, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-991c5d52: transparent;
  --color-grey: rgba(128, 128, 128, 1);
  --color-mediumseagreen-49039f4b: rgba(30, 215, 96, 1);
  --font-size-14: 14px;
  --font-size-13: 13px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-weight-700: 700;
  --font-weight-400: 400;
  --border-radius-500: 500px;
  --border-radius-4: 4px;
  --border-radius-3: 3px;
}
