.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 1000; /* Выше всех других элементов */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 10px;
}

.modal-content input,
.modal-content select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-buttons button[type="submit"] {
    background-color: mediumpurple;
    color: #fff;
    transition: 0.1s;
}

.modal-buttons button[type="submit"]:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.modal-buttons button[type="button"] {
    background-color: #ccc;
    color: #000;
    transition: 0.1s;
}

.modal-buttons button[type="button"]:hover {
    transform: scale(1.1);
    transition: 0.1s;
}