* {
    box-sizing: border-box;
}

.settings {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.settings__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.settings__header > h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.settings__header__navbar__list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.settings__header__navbar__list > li {
    font-family: 'proxima_nova_rgbold', sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

.settings__header__navbar__list > li:hover {
    background-color: #2b2b2b;
}

.settings__header__navbar__list > li:not(:last-child) {
    margin-right: 5px;
}

.settings__chosen-page {
    width: 80%;
    background-color: #202020;
    padding: 20px 40px;
    border-radius: 10px;
}

.settings__general__language {
    display: flex;
    flex-direction: column;
}

.settings__general__language__header {
    text-transform: capitalize;
    font-size: 22px;
}

.settings__general__language__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__general__language__main__text {
    font-size: 18px;
    color: #FFFFFF80;
}

.settings__general__language__main__switcher {
    padding: 10px 15px;
    font-size: 20px;
    color: #a7a7a7;
    border-radius: 5px;
    border: none;
    background-color: #2b2b2b;
}

.settings__general__language__main__switcher > option {
    font-size: 20px;
}

.settings__personal {
    display: flex;
    flex-direction: column;
}

.settings__personal__main > div:not(:last-child) {
    margin-bottom: 20px;
}

.settings__personal__user-info {
    display: flex;
    flex-direction: column;
}

.settings__personal__user-info__header {
    text-transform: capitalize;
    font-size: 22px;
}

.settings__personal__user-info__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings__personal__user-info__main__text {
    font-size: 18px;
    color: #FFFFFF80;
}

.settings__personal__user-info__main__display {
    padding: 10px 15px;
    font-size: 20px;
    color: #a7a7a7;
    border-radius: 5px;
    background-color: #2b2b2b;
}

.settings__personal__user-info__main__display__username {
    font-size: 20px;
}

.settings__personal__main__edit {
    display: flex;
    justify-content: end;
    margin-top: 60px;
}

.settings__personal__main__edit__button {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: #383838;
    border-radius: 5px;
    color: #a7a7a7;
    font-size: 20px;
    margin-bottom: 20px;
    transition: .1s;
}

.settings__personal__main__edit__button:hover {
    background-color: #464646;
    transform: scale(1.1);
    transition: .1s;
}