.playlist-page-wrapper {
    width: inherit;
    height: 100%
}

.playlist-page {
    position: relative;
    width: 100%;
}

.playlist-page-background {
    position: absolute;
    width: inherit;
    height: 650px;
    background: linear-gradient(#DEF628, #121212)
}

.playlist-page__main {
    display: flex;
    padding: 80px 40px 30px 40px;
}

.playlist-page__main__img-wrapper {
    width: 300px;
    height: 300px;
}

.playlist-page__main__img {
    width: inherit;
    height: inherit;
}

.playlist-page__main__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    transition: .1s;
    margin-left: 30px;
}

.playlist-page__main__info__name {
    font-size: 122px;
    margin-bottom: 30px;
    line-height: 110px;
}

.playlist-page__main__info__singers {
    font-size: 20px;
    color: #FFFFFF70;
}

.playlist-page__main__info__singers > span {
    color: #FFFFFF;
}

.playlist-page__main__info__singers > span > span:hover {
    color: orangered;
    transition: .1s;
}

.playlist-page__main__info__additional {
    font-size: 18px;
    color: #FFFFFF70;
}

.playlist-page__main__info__additional > span {
    color: #FFFFFF;
}

.playlist-page__songs {
    height: 1000px;
    padding: 30px 40px 80px 40px;
    background: linear-gradient(rgba(18, 18, 18, 0.19), #121212);
}

.playlist-page__songs__header {
    margin-bottom: 25px;
}

.playlist-page__songs__header__buttons {
    display: flex;
    justify-content: start;
    align-items: center;
}

.playlist-page__songs__header__buttons__play {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumpurple;
    border-radius: 36px;
    margin-right: 35px;
    transition: 0.1s;
}

.playlist-page__songs__header__buttons__play:hover {
    transform: scale(1.03);
    background-color: #65D36E;
    transition: 0.1s;
}

.playlist-page__songs__header__buttons__like-wrapper {
    width: 40px;
    height: 38px;
    margin-right: 30px;
}

.img-hidden {
    opacity: 0;
}

.img-not-hidden {
    opacity: 1;
}

.playlist-page__songs__header__buttons__like {
    width: inherit;
    height: inherit;
    position: absolute;
    transition: .2s;
}

.playlist-page__songs__header__buttons__options {
    transition: 0.1s;
}

.playlist-page__songs__header__buttons__options:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

/* Playlist Page Songs List Table */
.playlist-page__songs__list__table {
    width: 100%;
}

.playlist-page__songs__list__divider {
    width: 100%;
    height: 1px;
    background-color: #2c2929;
}

.playlist-page__songs__list__header {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.playlist-page__songs__list__header > div:not(:last-child) {
    margin-right: 2px;
}

.playlist-page__songs__list__header p {
    color: #B3B3B3;
    font-size: 16px;
    letter-spacing: 1.5px;
    font-family: proxima_nova_rgregular, sans-serif;
    margin-bottom: 20px;
}

.playlist-page__songs__list__header__id {
    width: 36px;
    font-size: 22px;
}

.playlist-page__songs__list__header__id p {
    font-size: 22px;
}

.playlist-page__songs__list__header__title {
    width: 40%;
}

.playlist-page__songs__list__header__album {
    width: 30%;
}

.playlist-page__songs__list__header__added {
    width: 20%;
}

.playlist-page__songs__list__header__length {
    width: 7%;
}

.playlist-page__songs__list__main {
    margin-top: 20px;
}

.playlist-page__songs__list__main > div:not(:last-child) {
    margin-bottom: 5px;
}

.playlist-page__songs__list__main__song-card {
    width: 100%;
    display: flex;
    align-items: center;
    color: #B3B3B3;
    padding: 5px 20px;
    transition: .05s;
}

.playlist-page__songs__list__main__song-card:hover {
    background-color: rgba(0, 0, 0, 0.11);
    transition: .05s;
}

.playlist-page__songs__list__main__song-card p {
    color: #B3B3B3;
}

.playlist-page__songs__list__main__song-card__id {
    width: 16px;
    justify-content: center;
    margin-right: 20px;
}

.playlist-page__songs__list__main__song-card__id p {
    font-size: 22px;
    width: 16px;
}

.playlist-page__songs__list__main__song-card__title {
    width: 40%;
    display: flex;
    align-items: end;
    padding-left: 2px;
}

.playlist-page__songs__list__main__song-card__title__img {
    width: 52px;
    height: 52px;
    margin-right: 15px;
    cursor: pointer;
}

.playlist-page__songs__list__main__song-card__title__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1px;
}

.playlist-page__songs__list__main__song-card__title__info__song-name {
    display: flex;
    margin-bottom: 2px;
}

.playlist-page__songs__list__main__song-card__title__info__song-name p {
    font-size: 20px;
    color: #65D36E;
    transition: .1s;
    cursor: pointer;
}

.playlist-page__songs__list__main__song-card__title__info__song-name p:hover {
    /*color: #b0f1b5;*/
    transition: .1s;
}

.playlist-page__songs__list__main__song-card__title__info__song-name img {
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.playlist-page__songs__list__main__song-card__title__info__artist-names span {
    font-size: 18px;
    transition: .1s;
}

.playlist-page__songs__list__main__song-card__title__info__artist-names span:hover {
    color: orangered;
    transition: .1s;
}

.playlist-page__songs__list__main__song-card__album {
    width: 30%;
}

.playlist-page__songs__list__main__song-card__album > p {
    font-size: 18px;
    width: fit-content;
    transition: .1s;
    cursor: pointer;
}

.playlist-page__songs__list__main__song-card__album > p:hover {
    color: orangered;
    transition: .1s;
}

.playlist-page__songs__list__main__song-card__added {
    width: 16%;
}

.playlist-page__songs__list__main__song-card__liked {
    width: 4%;
}

.playlist-page__songs__list__main__song-card__liked img {
    width: 22px;
}

.playlist-page__songs__list__main__song-card__length {
    width: 7%;
}

.playlist-page__songs__list__main__song-card__length p {
    font-size: 20px;
    margin-left: 20px;
}
