.vertical-centered-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d9dadc;
}

.vertical-centered-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.image-container {
    flex: 0 0 auto;
    display: block;
    height: 60%;
}
